<h1>Plots Index Page</h1>

<% @plots.each_with_index do |plot, index| %>
  <div id="plot-<%=index%>">
    Plot Number: <%= plot.number %>
    <ul>
    <div id="plot-plants-<%=index%>">
      <% plot.plants.each_with_index do |plant, index2| %>
        <div id="plot-plants-<%=index%>-plant-<%=index2%>">
          <li><%= plant.name %> <%= link_to 'Remove Plant from Plot', plot_plant_path(plant.plot_plants.find { |plot_plant| plot_plant.plot_id == plot.id }), method: :delete %><br></li>          
        </div>
      <% end %>
    </div>
    <ul>
    <br>
  </div>
<% end %>