<h1>Plots Index Page</h1>

<% @plots.each_with_index do |plot, index| %>
  <div id="plot-<%=index%>">
    Plot Number: <%= plot.number %>
    <ul>
    <div id="plot-plants-<%=index%>">
      <% plot.plants.each do |plant| %>
        <div id="plot-plants-<%=index%>">
          <li><%= plant.name %><br></li>
          <<%= link_to 'Remove Plant from Plot', plot_path, method: :remove %>>
        </div>
      <% end %>
    </div>
    <ul>
    <br>
  </div>
<% end %>